<h1>Redirección</h1>
<hr>
<div>
  <p></p>
  <div class="row">
    <div class="col d-flex align-items-center">
      <span>Pedido:</span>
      <input 
        class="form-control" 
        type="text" 
        size="20" 
        placeholder="" 
        #userInput 
        (input)="fetchData(userInput.value)"><br>
    </div>
    <div class="col d-flex align-items-center">
      <span>Tienda Redirección:</span>
      <select class="form-select" *ngIf="options && options.length > 0" #selectedOption (change)="onTransactionChange($event)">
        <option *ngFor="let transac of options" value="{{transac.value}}">
            {{transac.value}}
        </option>
      </select><br>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="sendData(userInput.value)">Cambiar</button>
    </div>
  </div>
  <div class="row text-center mt-4">
    <div class="col">
      <h5>Contenedores</h5>
      <p>{{contenedores}}</p>
    </div>
    <div class="col">
      <h5>Piezas</h5>
      <p>{{piezas}}</p>
    </div>
    <div class="col">
      <h5>Tienda Origen</h5>
      <p>{{tienda}}</p>
  </div>
</div>